@charset "utf-8";
/*css document*/


/* Commonly used CSS styles throughout the page */
.hidden {
	display: none;
}

body, html{
	height: 100%;
	margin: 0;
	padding: 0;

}
a{
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;
	margin-left: 40px;
	margin-right: 40px;
}

h1{
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	font-weight: bold;
}

h2{
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

h3{
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 20px;
	margin-bottom: 10px;
}



/*
Fonts for titles - font-family: 'Oswald', sans-serif;
Fonts for copy - font-family: 'Open Sans', sans-serif; */

/* Commonly used ID's and Classes throughout the site */
#siteContainer{
	width: 1280px;
	background-color: #dee6b6;
	margin: 0 auto;
}

#mainHeader{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: #bcd4b9;
	padding-top: 20px;
	padding-bottom: 20px;
}

#logo a{
	margin-left: 20px;
	height: 130px;
	width: 130px;
	display: flex;
	flex-direction: row;
}

#mainNav{
	margin-left: auto;
	display: flex;
	flex-direction: column;
	margin-right: 60px;
}

#searchForm{
	margin-bottom: 20px;
	margin-left: auto;
}

#searchForm input{
	width: 150px;
	padding: 6px 15px 6px 35px;
	border: 1px solid #d1d1d1;
	color: white;
	background-color: #88a456;
	border-radius: 20px;
	text-shadow: 0 2px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0.15) inset;
	text-align: left;
}

::placeholder{
	color:#D8AE58;
}
#mainNav ul{
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
}

#mainNav ul li a{
	display: block;
	width: 100px;
	background-color: #88a456;
	box-shadow: 2px 2px black;
	margin-left: 20px;
	color: #fff;
	text-align: center;
	padding: 8px;
	font-size: 16px;
	border-radius: 10px;
}

#mainNav ul li a:hover{
	display: block;
	width: 100px;
	background-color: #D8AE58;
	box-shadow: 2px 2px black;
	margin-left: 20px;
	color: #fff;
	text-align: center;
	padding: 8px;
	font-size: 16px;
	border-radius: 10px;
}

#welcome h2{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	margin-top: 20px;
	padding-bottom: 20px;
}

#footer{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	background-color: #bcd4b9;
	margin-top: 20px;
}

#footerNav{
	margin-left: 0 auto;
	display: flex;
	flex-direction: column;
	margin-top: 40px;
}

#footerNav ul{
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	margin-top: 40px;
	margin: 0 auto;
	margin-bottom: 20px;
}

#footerNav ul li a{
	display: block;
	width: 100px;
	background-color: #88a456;
	box-shadow: 2px 2px black;
	margin-left: 20px;
	color: #fff;
	text-align: center;
	padding: 8px;
	font-size: 16px;
	border-radius: 10px;
}

#footerNav ul li a:hover{
	display: block;
	width: 100px;
	background-color: #D8AE58;
	box-shadow: 2px 2px black;
	margin-left: 20px;
	color: #fff;
	text-align: center;
	padding: 8px;
	font-size: 16px;
	border-radius: 10px;
}

#copyright{
	width: 400px;
	height: 30px;
	margin: 0 auto;
	margin-bottom: 20px;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

#fullSeperator{
	width: 100%;
	height: 1px;
	background-color: black;
	margin-bottom: 20px;
}


#contentBreak{
	height: 1px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #D8AE58;
	width: 80%;

}



#bottomBar{
	width: 100%;
	height: 20px;
	background-color: #88a456;
}

#fishAnimation{
	width: 270px;
	height: 50px;
	margin: 0 auto;
	margin-bottom: 20px;
}

/* <------------INDEX.HTML     HOME PAGE--------------------> */


#heroImage{
	background-image: url("../images/hero_image.jpg");
	height: 500px;
	background-position: center;
	margin-top: 20px;
	margin-left: 80px;
	margin-right: 80px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	border-radius: 10px;
	margin-bottom: 20px;
}

#heroText{
	position: absolute;
	top: 87.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	text-align: center;
	font-weight: bold;
	color: white;
	font-family: 'Oswald', sans-serif;
	background-color: black;
	opacity: .5;
	width: 1120px;
	padding-bottom: 40px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#meetingContent{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-right: 80px;
	margin-left: 80px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#meetingContent p{
	margin-top: 15px;
	text-align: left;
	line-height: 25px;
}

#meetingContent img{
	border-radius: 10px;
}

#contentBody1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	margin: 20px 80px 20px 80px;
}

#contentBody2{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	margin: 20px 120px 20px 120px;
}

#contentBody2 p{
	margin-bottom: 10px;
}

#displayBox{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 350px;
	height: 500px;
	border-radius: 10px;
	background-color: #88a456;
}

#displayBox img{
	margin-bottom: 20px;
}

#contentBox2{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 350px;
	height: 700px;
	border-radius: 10px;
	background-color: #88a456;
}

#contentBox2 img{
	margin: 0 auto;
	width: 250px;
	height: 150px;
	margin-bottom: 10px;
	border-radius: 10px;
}

#contentBox2 p{
	font-size: 14px;
}
#merch img{
	height: 200px;
	width: 200px;
	border-radius: 10px;
	margin-bottom: 10px;
}

/* <-------------- End of Index.Html Home ----------> */




/* <-------------- Start of About ---------------> */
#intro{
	text-align: center;
	margin-bottom: 20px;
	margin-right: 40px;
	margin-left: 40px;
	border-radius: 10px;
}

#about1{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 40px
}

#aboutDesc1{
	margin-top: 20px;
	width: 600px;

}

#aboutImg1 img{
	flex-direction: row;
	border-radius: 10px;
}

#about2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 10px;
	margin-bottom: 20px;
}

#aboutDesc2{
	margin-top: 20px;
	width: 600px;

}

#aboutImg2 img{
	flex-direction: row;
	border-radius: 10px;
}

#businesses1{
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 10px;
	margin-bottom: 20px;
	margin-left: 80px;
	margin-right: 80px;
	justify-content: space-between;
}

#businesses2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 10px;
	margin-bottom: 20px;
	margin-left: 250px;
	margin-right: 250px;
	justify-content: space-between;
}

#contentBox{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 350px;
	height: 450px;
	border-radius: 10px;
	background-color: #88a456;
}

#contentBox p{
	margin-top: 20px;
	line-height: 22px;
}
#contentBox img{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	height: 100px;

}

.businessLogo{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 50px;
	width: 90px;
}

#positions{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	line-height: 25px;
	margin-left: 300px;
	margin-right: 200px;
}

#positions h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 14px;
}

#positions p{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	margin-top: 5px;
}

#volunteers{
	display: flex;
	flex-direction: column;
	column-count: 2;
	justify-content: flex-start;
	text-align: center;
}

#volunteerSplit{
	display: flex;
	flex-direction: row;
	column-count: 2;
	justify-content: flex-start;
}
/* <-------------- End of About ---------------> */







/* <-------- Start of Projects -------------> */
#projectsIntro{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 40px;
	margin-left: 40px;
}

#projects1{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 40px;
}
#salmonProj{
	width: 600px;
}

#projectImg1 img{
	flex-direction: row;
	border-radius: 10px;
}

#projects2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 20px;
}

#projectImg2 img{
flex-direction: row;
border-radius: 10px;
}

#troutProj{
	width: 600px;
}

#archiveProj{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
/* <-------- END of Projects -------------> */






/* Start of Contact Page */
#contactTitle{
	font-size: 55px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#contactTraa{
	font-size: 35px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#contactText{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
#contactText p{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	line-height: 25px;
}

#hearTRAA{
	margin-top: 5px;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
}

#contactArea{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
	margin-top: 20px;
}

#form{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-left: 100px;
	border: none;
}

form input{
border-radius: 3px;
padding: none;
border-style: none;
border: 1px solid #88a456;
font-family: 'Oswald', sans-serif;
text-align: center;
font-size: 14px;
}

#fName{
	width: 210px;
	height: 40px;
	background-color: #bcd4b9;
	margin-bottom: 20px;
	margin-right: 30px;
}
#lName{
	width: 210px;
	height: 40px;
	background-color: #bcd4b9;
	margin-bottom: 30px;
}
#address{
	width: 450px;
	height: 40px;
	background-color: #bcd4b9;
	margin-bottom: 30px;
}
#address2{
	width: 450px;
	height: 40px;
	background-color: #bcd4b9;
	margin-bottom: 30px;
}

#city{
	width: 210px;
	height: 40px;
	background-color: #bcd4b9;
	margin-bottom: 30px;
	margin-right: 30px;
}
#province{
	width: 210px;
	height: 40px;
	background-color: #bcd4b9;
	margin-bottom: 30px;
}

#postalcode{
	width: 210px;
	height: 40px;
	background-color: #bcd4b9;
	margin-bottom: 30px;
	margin-right: 30px;
}
#country{
	width: 210px;
	height: 40px;
	background-color: #bcd4b9;
	margin-bottom: 30px;
}

#submit{
	width: 210px;
	height: 40px;
	background-color: #bcd4b9;
}

#mapContainer{
	margin-left: auto;
	margin-right: 100px;
}

#mapText p{

	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	margin: 0;

	margin-bottom: 10px;
	margin-left: 0;

}

#map{
	width: 550px;
	height: 300px;
	margin-top: 20px;
	margin: 0 auto;
}

#mailWarning p{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-align: right;
	margin-bottom: 20px;
	margin-right: 100px;
}

#meeting{
	text-align: center;

}

#meetingTitle p{
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#meetingGuests p{
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	margin-bottom: 20px;
}

#meetingText p{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin-bottom: 20px;
}

/* End of Contact Page */




/* Newsletters Page Elements*/

#title p{
	height: 50px;
	width: 300px;
	color: grey;
	font-family: 'Oswald', sans-serif;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
	font-size: 30px;
}

#intro{
	display: flex;
	flex-direction: column;
}

#introH2{
	width: 570px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#introP p{

	width: 960px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#archive{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#newsletters{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#boxLeft{
	width: 400px;
	height: 500px;
	background-color: #88a456;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-left: 10px;
}

#boxRight{
	width: 400px;
	height: 500px;
	background-color: #88a456;
	border-radius: 10px;
	margin: 0 auto;
	margin-right: 10px
}

/* END OF Newsletters */


/* Start of Links Page */

a:link{
	color: #88a456;
}

a:visited{
	color: #88a456;
}

a:hover{
	color: #D8AE58;
}

#badJoke{
font-family: 'Oswald', sans-serif;
font-size: 24px;
font-weight: bold;
text-align: center;
margin-top: 15px;
margin-bottom: 20px;
}

#linkType1{
	text-align: center;
	background-color: #bcd4b9;
	margin-top: 20px;
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 20px;
}

#linkType2{
	text-align: center;
	margin-top: 20px;
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 20px;
}

#linkTitle{
	font-size: 30px;
	font-weight: normal;
	padding-top: 20px;
	margin-top: 20px;
}

#linkText{
	margin-bottom: 10px;
}
